PAPS LR6/PAPS LR6 Client/PAPS LR6 Client/Connected Services/webservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7864/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7864/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7864/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_reise_InputMessage">
    <wsdl:part name="parameters" element="tns:reise" />
  </wsdl:message>
  <wsdl:message name="IService1_reise_OutputMessage">
    <wsdl:part name="parameters" element="tns:reiseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reise_otkuda_InputMessage">
    <wsdl:part name="parameters" element="tns:reise_otkuda" />
  </wsdl:message>
  <wsdl:message name="IService1_reise_otkuda_OutputMessage">
    <wsdl:part name="parameters" element="tns:reise_otkudaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reise_kuda_InputMessage">
    <wsdl:part name="parameters" element="tns:reise_kuda" />
  </wsdl:message>
  <wsdl:message name="IService1_reise_kuda_OutputMessage">
    <wsdl:part name="parameters" element="tns:reise_kudaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_bron_InputMessage">
    <wsdl:part name="parameters" element="tns:bron" />
  </wsdl:message>
  <wsdl:message name="IService1_bron_OutputMessage">
    <wsdl:part name="parameters" element="tns:bronResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="reise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reise" message="tns:IService1_reise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reiseResponse" message="tns:IService1_reise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reise_otkuda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reise_otkuda" message="tns:IService1_reise_otkuda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reise_otkudaResponse" message="tns:IService1_reise_otkuda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reise_kuda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reise_kuda" message="tns:IService1_reise_kuda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reise_kudaResponse" message="tns:IService1_reise_kuda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="bron">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/bron" message="tns:IService1_bron_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/bronResponse" message="tns:IService1_bron_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reise">
      <soap:operation soapAction="http://tempuri.org/IService1/reise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reise_otkuda">
      <soap:operation soapAction="http://tempuri.org/IService1/reise_otkuda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reise_kuda">
      <soap:operation soapAction="http://tempuri.org/IService1/reise_kuda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bron">
      <soap:operation soapAction="http://tempuri.org/IService1/bron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:7864/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>